* {
    margin:0;
    padding:0;  
  }
body {
  background-color:rgb(211, 211, 235);
  margin: 0;
  padding: 0;
    
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      }

header{
  padding: 10px 10% 15px 0;
  display:flex;
  flex-direction: row;
  float:left;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-between;
}
header{
    height: 80px;
    width: 100%;
    
    background-color: #293d4b;
      }

h1 {
  Color:white;
  padding-top: 0px;
  padding-bottom:15px;
  Margin:10px

}
a {
  color:lightgray;
  text-decoration: none;
  padding: 5px 10px;
}
  ;
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

aside {
  font-size: 2.4rem;
  color :darkslateblue;
  padding:20px;

}
footer {
  padding: 30px;
  height: 100px;
  width: 100%;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color:white;
  background-color: #293d4b;

}

footer h2 {
  font-size: 30px;
  line-height: 40px;
}
footer p {
  line-height: 40px;
}
